.featuredwork {
    &-radios {
        margin-top: calc(var(--space-m) * 6);
    }

    &-list {
        display: flex;
        flex-direction: column;

        &:hover &-entry {
            $dim: rgba($color-text, 0.325);
            color: $dim;
            border-color: $dim;
        }

        &-entry {
            display: flex;
            flex-direction: column;
            padding: calc(var(--space-m) * 3) 0;
            opacity: 0;
            animation: fade-in 500ms forwards ease-in-out;

            &:hover {
                color: $color-text !important;
            }

            &-title {
                font-size: var(--dynamicvar-entry-text-size);
                text-decoration: none;
                line-height: 1;
                overflow: visible !important;
                white-space: normal !important;
            }

            border-top: 1px solid var(--color-text);

            &:last-child {
                border-bottom: 1px solid var(--color-text);
            }
        }
    }
}
