.footer {
    background-color: $color-body-darker;
    padding-top: 72px;
    padding-bottom: 36px;

    &-body {
        margin-top: 96px;
    }

    &-head {
        &-title {
            font-size: 96px;
            font-variation-settings: 'wght' 600 !important;
            letter-spacing: 0 !important;
        }
    }
}
