.home {
    &-section {
        padding-top: 72px;
    }

    &-hero {
        &-title {
            display: flex;
            flex-direction: column;
            row-gap: 28px;
            margin-top: 640px;

            h1,
            .h1 {
                font-size: max(min(7vw, 150px), 64px);
                word-break: keep-all !important;
                line-height: 1 !important;
                user-select: none !important;
            }

            &-item {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                flex-shrink: 0;
                flex-grow: 0;
            }
        }
    }

    &-menu {
        display: flex;
        flex-direction: column;
        row-gap: 36px;

        &-container {
            row-gap: 72px;
        }

        &-wrapper {
            row-gap: 64px;
        }
    }
}
