.home {
    &-section {
        padding-top: max(var(--space-section-unit), 72px);
    }

    &-hero {
        &-title {
            display: flex;
            flex-direction: column;
            row-gap: 28px;

            h1,
            .h1 {
                user-select: none !important;
            }

            &-item {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                flex-shrink: 0;
                flex-grow: 0;
            }
        }
    }

    &-menu {
        display: flex;
        flex-direction: column;
        row-gap: 36px;

        &-container {
            row-gap: 72px;
        }

        &-wrapper {
            row-gap: 64px;
        }
    }
}
