/* $hr-width: min(calc(var(--dynamicvar-device-pixel-ratio)*1px), 2px); */
$hr-width: 1px;

hr, .hr {
    display: block;
    width: 100%;
    border: 0;
    border-top: $hr-width solid $color-text;
    color: transparent;
    height: $hr-width !important;
}
