div.indent {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;

    i.indent-dot {
        display: block;
        background-color: $color-text;
        color: $color-text-dim;
    }
}

h1 div.indent {
    column-gap: 24px;
    margin-bottom: 1.3rem;
    margin-right: 0.3125rem;
    margin-left: 0.3125rem;

    i.indent-dot {
        border-radius: 8px;
        aspect-ratio: 1;
        height: 10px;
    }
}
