$loader-transition-duration: 500ms;

body.is-loaded {
    .loader-container {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s $loader-transition-duration, opacity $loader-transition-duration linear;
    }
}

.loader {
    &-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-body-darker;
        z-index: $z-index-loader;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: visible;

        opacity: 1;
        transition: opacity $loader-transition-duration ease;
        will-change: opacity;
    }

    &-moon {
        $size: min(30vw, 300px);
        $moon-transition-duration: 5s;
        $ratio: calc(1/3);
        $one-third: calc(100% * $ratio);

        @keyframes moon-rotate {
            0% {
                transform: translateX(0);
            }

            100% {
                transform: translateX(calc($size * (1 + $ratio)));
            }
        }

        /*
        @keyframes code-in-out {
            0% {
                color: #94A3B8;
                opacity: 0;
                letter-spacing: 0px;
            }

            50% {
                opacity: 0.3;
                color: green;
            }

            100% {
                color: #94A3B8;
                letter-spacing: 1px;
                opacity: 0;
            }
        }
        */

        position: relative;
        width: $size;
        height: $size;
        border-radius: calc($size/2);
        background: $color-body-darker;
        background: linear-gradient(90deg, rgba(211, 150, 31, 1) 0%, $color-body-darker 65%);
        /*transform: rotate(5deg);*/
        background-origin: border-box;
        border-color: $color-body-darker;
        border: 2px solid $color-body-darker;

        &-inside {
            position: absolute;
            top: calc($size / 2 - $one-third / 2);
            left: calc($one-third * -1);
            width: $one-third;
            height: $one-third;
            border-radius: 50%;
            background-color: $color-body-darker;
            z-index: 10;
            will-change: transform;
            transform: translate(0, 0);

            animation: $moon-transition-duration infinite linear moon-rotate;
            /*
            transform: translateX(var(--size-inner));
            */
        }
    }

    /*
    &-code {
        &-container {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: #000;
            padding: -6px;
            font-size: 18px;
            margin-left: -8px;
            margin-top: -8px;
            font-family: monospace;
            color: inherit;
            word-break: break-all;
            color: #94A3B8;

            animation: 3s infinite linear code-in-out;
        }
    }
    */
}
