.radiobutton {
    padding: calc(var(--dynamicvar-home-text-size) * 0.75) calc(var(--dynamicvar-home-text-size) * 1.35);
    border: 1px solid var(--color-text);
    border-radius: 64px;
    cursor: pointer;

    &.selected {
        background-color: var(--color-text);
        color: var(--color-body);
    }

    &-container {
        display: flex;
        gap: 14px;
        flex-wrap: wrap;
    }
}
