:root {
    --space-section-unit: 48px;
}

.space-table-top {
    margin-top: 14px;

    &-slick {
        margin-top: calc(14px + 9px);
    }
}

.space-section {
    $unit: var(--space-section-unit);

    &-x {
        margin-top: $unit;
    }

    &-2x {
        margin-top: calc($unit * 2);
    }

    &-3x {
        margin-top: calc($unit * 3);
    }

    &-4x {
        margin-top: calc($unit * 4);
    }

    &-5x {
        margin-top: calc($unit * 5);
    }

    &-6x {
        margin-top: calc($unit * 6);
    }

    &-7x {
        margin-top: calc($unit * 7);
    }
}

/* .space-between-4x {
    margin-top: 96px;
}

.space-section-b-10x {
    margin-top: 240px;
}

.space-section-top {
    margin-top: 240px;
} */
