@media (max-width: 1406px) {
    .spotify-dash {
        &-container {
            display: none !important;
        }
    }
}

@media (max-width: 470px) {

    .spotify-player-lhs,
    .spotify-player-rhs-top-rhs {
        display: none !important;
    }

    .spotify-player-bar-container {
        margin-top: calc(var(--space-m) * 4) !important;
    }
}

.spotify {
    &-player {
        display: flex;
        background-color: rgba($color-spotify, 0.05);
        border: 1px solid rgba($color-spotify, 0.15);
        justify-content: flex-start;
        flex-wrap: nowrap;
        box-sizing: border-box !important;

        &-container {
            row-gap: calc(var(--space-m) * 3.5);
        }

        &-lhs {
            aspect-ratio: 1;
        }

        &-cover {
            height: 100%;
            aspect-ratio: 1;
            object-fit: cover;
            padding: 8px;
            border: 1px solid rgba($color-spotify, 0.5);
        }

        &-rhs {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: calc(var(--space-m) * 3) calc(var(--space-m) * 3) calc(var(--space-m) * 2) calc(var(--space-m) * 3);
            min-width: 0;

            &-top {
                display: flex;
                justify-content: space-between;
                max-width: 100%;
                column-gap: 12px;

                &-lhs {
                    min-width: 0;
                    display: flex;
                    flex-direction: column;
                    row-gap: calc(var(--space-m) * 1.5);
                }
            }

            &-bot {
                min-width: 0;
                max-width: 100%;
            }
        }

        &-artist {
            opacity: 0.5;
        }

        &-bar {
            position: relative;
            background-color: rgba($color-spotify, 0.5);
            height: 1px;
            width: 100%;

            &-container {
                display: flex;
                flex-direction: column;
                row-gap: calc(var(--space-m) * 1.5);
            }

            &-times {
                display: flex;
                justify-content: space-between;
            }

            &-inner {
                height: 100%;
                background-color: $color-spotify;
            }
        }
    }

    &-color {
        color: $color-spotify;
    }

    &-dash {
        height: 1px;
        border-top: 1px dashed rgba($color-spotify, 0.5);
        width: 100%;

        &-container {
            &-inner {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: var(--solidbox-unit);
                margin-top: calc(var(--space-m) * 4);
            }
        }
    }

    &-lists {
        row-gap: var(--space-section-unit);
    }

    &-list {
        &-wrapper {
            display: flex;
            flex-direction: column;
            margin-top: calc(var(--space-m) * 4);
            row-gap: calc(var(--space-m) * 4);
        }

        &-item {
            display: flex;
            flex-direction: column;

            &-subtitle {
                opacity: 0.5;
                margin-top: calc(var(--space-m) * 1.5);
            }
        }

        &-simple &-wrapper {
            row-gap: calc(var(--space-m) * 2);
        }
    }
}
