---
import Document from "#/layouts/document.astro";
import HomeHome from "#/components/home/home-home.astro";
import HomeRnD from "#/components/home/home-rnd.astro";
import HomeContact from "#/components/home/home-contact.astro";
import Footer from "#/components/footer.astro";
import HomeTechStack from "#/components/home/home-tech-stack.astro";
import { HomeData } from "##/constants/home-data";

// CLIENT:LOAD
import { SectionTicker } from "#/components/section-ticker";
import { HomeSpotify } from "#/components/home/home-spotify";
import { APP } from "##/.boilerrc";
import { HomeFeaturedWork } from "#/components/home/home-featured-work";
---

<Document subtitle="Home">
    <solidbox-layout></solidbox-layout>

    <!-- <header>
        <WaypointHeader />
    </header> -->

    <!-- <div class="continuum-top"></div> -->
    <div class="continuum-top"></div>

    <main>
        <!-- HOME START -->
        <HomeHome />
        <!-- HOME END -->

        <!-- ABOUT START -->
        <SectionTicker
            text="ABOUT ME"
            classname="space-section-2x"
            client:load
        />
        <!-- ABOUT END -->

        {APP.quickDevelopmentMode ? null : <HomeSpotify client:load />}

        <!-- ABOUT / Research START -->
        <HomeRnD
            class="space-section-6x"
            title="Research"
            sup="++"
            entries={{
                Current: HomeData.researchCurrent,
                Prior: HomeData.researchPrior,
            }}>{"I seek structures that reveal more than they resolve"}</HomeRnD
        >
        <!-- ABOUT / Research END -->

        <!-- ABOUT / Development START -->
        <HomeRnD
            class="space-section-3x"
            title="Development"
            titleExtra={true}
            sup="&&"
            isRhs={true}
            entries={HomeData.developmentEntries}
            >{
                "Development is " +
                    "a way to make abstract ideas move " +
                    "respond and sometimes even resonate"
            }</HomeRnD
        >
        <!-- ABOUT / Development END -->

        <!-- ABOUT / TECH STACK START -->
        <HomeTechStack class="space-section-3x" id="tech-stack" data-d="dd" />
        <!-- ABOUT / TECH STACK END -->

        <!-- FEATURED WORK START -->
        <SectionTicker
            text="FEATURED WORK"
            classname="space-section-6x"
            client:load
        />
        <HomeFeaturedWork client:load/>
        <!-- FEATURED WORK END -->

        <!-- CONTACT START -->
        <!-- <waypoint name="contact"></waypoint> -->
        <SectionTicker
            text="CONTACT"
            classname="space-section-3x"
            client:load
        />
        <HomeContact class="space-section-4x" />
        <!-- CONTACT END -->
    </main>

    <Footer class="space-section-6x" />

    <div class="continuum-bot"></div>
    <!-- <div class="continuum-bot2"></div> -->
</Document>
