---
import SectionTicker from "#/components/section-ticker.astro";
import Document from "#/layouts/document.astro";
import WaypointHeader from "#/components/waypoint-header.astro";
import HomeHome from "#/components/home/home-home.astro";
import HomeRnD from "#/components/home/home-rnd.astro";
import HomeContact from "#/components/home/home-contact.astro";
import Footer from "#/components/footer.astro";
---

<Document>
    <solidbox-layout></solidbox-layout>

    <header>
        <WaypointHeader />
    </header>

    <main>
        <!-- HOME START -->
        <!-- <waypoint name="home"></waypoint> -->
        <HomeHome />
        <!-- HOME END -->

        <!-- ABOUT START -->
        <!-- <waypoint name="about" ></waypoint> -->
        <SectionTicker text="ABOUT ME" class="space-section-2x" />
        <!-- ABOUT END -->

        <!-- ABOUT / RnD START -->
        <HomeRnD class="space-section-6x" title="Research" sup="++" />
        <HomeRnD
            class="space-section-6x"
            title="Development"
            titleExtra={true}
            sup="&&"
            isRhs={true}
        />
        <!-- ABOUT / RnD END -->

        <!-- CONTACT START -->
        <!-- <waypoint name="contact"></waypoint> -->
        <SectionTicker text="CONTACT" class="space-section-6x" />
        <HomeContact class="space-section-6x" />
        <!-- CONTACT END -->
    </main>

    <Footer class="space-section-6x" />
</Document>
