---
import { HomeData } from '##/constants/home-data';

interface Props {
    id?: string;

    class?: Classname;
}

export type TechStackEntries = Record<string, string[]>;

const { id, class: classname } = Astro.props;

const numberOfEntries = Object.values(HomeData.techStack).reduce(
    (acc, items) => acc + items.length,
    0,
);
---

<section class:list={[classname]} id={id}>
    <w class="center" data-parallax-speed="0.85" data-parallax-opacity-out="0">
        <div class="home-h2-slick-wrapper">
            <h2 class="home-h2 text-slick">Tech Stack</h2>
            <sup class="text-slick-extra text-tabular">{numberOfEntries}</sup>
        </div>
    </w>
    {
        Object.entries(HomeData.techStack).map(([title, items]) => (
            <>
                <h class="home-techstack-entry">
                    {/* <v class="w1" /> */}
                    <v class="w2">
                        <span class="home-text text-slick home-techstack-title">
                            * {title}
                        </span>
                    </v>
                    <v class="wauto wmin2 home-techstack">
                        {items.map((item) => (
                            <div class="home-techstack-item">
                                <span class="home-text text-slick">{item}</span>
                            </div>
                        ))}
                    </v>
                </h>
            </>
        ))
    }
</section>
