---
import SpotifyIcon from '##/public/assets/image/spotify.svg'
interface Props {
    id?: string

    class?: Classname
}

const { id, class: classname } = Astro.props
---

<section class:list={[classname]} id={id}>
    <w class="space-section-6x center">
        <v class="wauto wmax10 horizontal" data-parallax-speed="1.25">
            <!-- <v class="wmax10 nowrap"> -->
                <v class="w5 spotify-player-container">
                    <p class="home-text text-slick spotify-color">Currently Playing</p>

                    <v class="w5 nowrap horizontal spotify-player">
                        <v class="w1 spotify-player-lhs">
                            <img class="spotify-player-cover" src="/assets/image/concerto.jpg" alt="">
                        </v>
                        <v class="wauto spotify-player-rhs">
                            <div class="spotify-player-rhs-top">
                                <div class="spotify-player-rhs-top-lhs">
                                    <p class="spotify-player-title home-text text-slick">Concerto Pour Une Voix</p>
                                    <p class="spotify-player-artist home-text text-slick">Saint-Preux</p>
                                </div>
                                <div class="spotify-player-rhs-top-rhs">
                                    <img
                                        class="spotify-player-emblem"
                                        src={SpotifyIcon.src}
                                        width={SpotifyIcon.width}
                                        height={SpotifyIcon.height}
                                        loading="eager"
                                        decoding="async"
                                        fetchpriority="high"
                                        alt="Spotify Emblem"
                                    />
                                </div>
                            </div>
                            <div class="spotify-player-rhs-bot">
                                <div class="spotify-player-bar-container">
                                    <div class="spotify-player-bar-times">
                                        <p class="home-text text-slick spotify-color">1:50</p>
                                        <p class="home-text text-slick spotify-color">4:36</p>
                                    </div>
                                    <div class="spotify-player-bar">
                                        <div class="spotify-player-bar-inner" style="width:37%;"></div>
                                    </div>
                                </div>
                            </div>
                        </v>
                    </v>
                </v>

                <v class="wauto wmax2 spotify-dash-container">
                    <p class="home-text text-slick spotify-color text-noselect">&nbsp;</p>
                    <v class="spotify-dash-container-inner">
                        <div class="spotify-dash"></div>
                    </v>
                </v>

                 <v class="w3 spotify-player-container">
                    <p class="home-text text-slick spotify-color text-noselect">&nbsp;</p>

                    <v class="w3 nowrap horizontal spotify-player">
                        <v class="w1 spotify-player-lhs">
                            <img class="spotify-player-cover" src="/assets/image/concerto.jpg" alt="">
                        </v>
                        <v class="wauto spotify-player-rhs">
                            <div class="spotify-player-rhs-top">
                                <div class="spotify-player-rhs-top-lhs">
                                    <p class="spotify-player-title home-text text-slick">Mert &mdash; howion</p>
                                    <p class="home-text text-slick spotify-color">Online</p>
                                </div>
                            </div>
                        </v>
                    </v>
                </v>
            <!-- </v> -->
        </v>
    </w>
    <!-- <h class="space-section-2x">
        <v class="w1"></v>
        <v class="w3" data-parallax-speed="1">
            <p class="home-text space-table-top">
                <slot />
            </p>
        </v>
        <v class="w1"></v>
        <v
            class="wauto wmax7"
            data-parallax-speed="1.3"
            style="margin-top:calc((1265px - min(100vh, 1265px))/2)"
        >
        aha
        </v>
    </h> -->
</section>
