---
import LiqudGlass from '../optional/liqud-glass.astro'
import HomeHomeHeader from './home-home-header.astro'
---

<section class="home-section scroll-into-view" id="section-home">
    <HomeHomeHeader />
    <h>
        <v class="space-section-3x" data-parallax-speed="0.75">
            <div class="home-hero-title">
                <h1 class="home-h1 text-slick">
                    MAPPING<dim class="text-nowrap">&nbsp;\\&nbsp;</dim>THE
                </h1>
                <h1 class="home-h1 text-slick">
                    <dim>••••&nbsp;</dim>INTELLIGIBLE<dim class="text-nowrap"
                        >&nbsp;\\&nbsp;</dim
                    >TO
                </h1>
                <h1 class="home-h1 text-slick">{"THE SENSIBLE"}</h1>
            </div>
        </v>
    </h>
    <h data-parallax-speed="1.15" class="space-section-x">
        <v class="wauto wmax1"></v>
        <v class="wauto wmax3 home-hero-liquid-wrapper">
            <LiqudGlass class="home-hero-liquid" />
        </v>
    </h>
    <h>
        <v class="wauto"></v>
        <v class="w3 space-section-5x">
            <p class="home-text text-just" data-parallax-speed="1.15">
                {
                    "A Mathematician and Developer exploring " +
                        "boundaries between abstraction and experience."
                }'
                <br />
                <br />
                {
                    "I build systems where logic finds shape " +
                        "and structure meets design."
                }
            </p>
        </v>
    </h>
</section>

<!-- <script>
    document.getElementById("home-emblem")!.addEventListener("click", () => {
        document.body.classList.toggle("universal");
    });
</script> -->
