---
import DetailTable from "./detail-table.astro";

interface Props {
    class?: Classname;
}

const { class: classname } = Astro.props;
---

<footer class="footer" class:list={[classname]}>
    <h class="footer-head">
        <v class="w5"><span class="footer-head-title text-slick">MERT</span></v>
        <v class="w1"></v>
        <v class="w6"
            ><span class="footer-head-title text-slick">HOWION</span></v
        >
    </h>
    <h class="footer-body">
        <v class="w5">
            <DetailTable
                class="space-section-2x"
                title="Website"
                titleW={1}
                contentW={2}
                slick={true}
            >
                <div class="text-stack-slick">
                    <p class="text-slick">* Source Code</p>
                    <p class="text-slick">* Sitemap.xml</p>
                    <p class="text-slick"></p>
                    <p class="text-slick"><dim>* Konami Cheat Code</dim></p>
                </div>
            </DetailTable>
        </v>
        <v class="w1"></v>
        <v class="w6">
            <DetailTable
                class="space-section-2x"
                title="Contact"
                titleW={1}
                contentW={3}
                slick={true}
            >
                <div class="text-stack-slick">
                    <p class="text-slick">* mert.coskun (a) metu.edu.tr</p>
                    <p class="text-slick">* howionwastaken (a) gmail.com</p>
                    <p class="text-slick"></p>
                    <p class="text-slick">* +90 534 634 0134</p>
                </div>
            </DetailTable>
        </v>
    </h>
    <h class="footer-foot space-section-5x">
        <v class="w5">
            <span class="text-slick-extra">OMER MERT COSKUN © 2025</span>
        </v>
        <v class="w1"></v>
        <v class="w6">
            <span class="text-slick-extra dim">
                Licensed under the AGPLv3 with Additional Terms
            </span>
        </v>
    </h>
</footer>
