---
---

<div class="loader" id="loader">
    <solidbox-layout class="loader-lines"></solidbox-layout>

    <div class="loader-bar-container">
        <div class="loader-bar"></div>
    </div>
</div>
