---
interface Props {}
---

<!-- <div class="loader" id="loader">
    <div class="loader-bar-container">
        <div class="loader-bar"></div>
    </div>
</div> -->
<div id="loader" class="loader-container">
    <div class="loader-moon">
        <div class="loader-moon-inside"></div>
    </div>
    <div class="loader-code-container"></div>
</div>
