---
interface Props {}
---

<div class="loader" id="loader">
    <!-- <div class="loader-trio"></div>
    <div class="loader-trio"></div>
    <div class="loader-trio loader-trio-content">
        </div> -->
        <!-- <Emblem /> -->

    <!-- <div class="loader-bar-container">
        <div class="loader-bar"></div>
    </div> -->
</div>
