:root {
    --dynamicvar-device-pixel-ratio: 1;

    --dynamicvar-home-text-size: 18px;

    --dynamicvar-home-text-hero-title-size: max(min(8vw, 150px), 28px);
    --dynamicvar-home-text-title-size: max(min(8vw, 150px), 44px);

    --dynamicvar-entry-text-size: max(min(4vw, 48px), 28px);
}

/*********************************/
/* dynamicvar-device-pixel-ratio */
/*********************************/

@media (max-width: 1268px) {
    :root {
        --dynamicvar-home-text-size: 16px;
    }
}

@media (max-width: 468px) {
    :root {
        --dynamicvar-home-text-size: 14px;
    }
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2),
    (min-resolution: 1.5dppx) {
    :root {
        --dynamicvar-device-pixel-ratio: 1.5;
    }
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2 / 1),
    (min-resolution: 2dppx) {
    :root {
        --dynamicvar-device-pixel-ratio: 2;
    }
}

@media (-webkit-min-device-pixel-ratio: 0.75), (min--moz-device-pixel-ratio: 0.75), (-o-min-device-pixel-ratio: 3 / 4),
    (min-resolution: 0.75dppx) {
    :root {
        --dynamicvar-device-pixel-ratio: 0.7;
    }
}
