/*  */
/* .is-block {
    display: block;
}

.is-inline {
    display: inline;
}

.is-inline-block {
    display: inline-block;
}

.is-disabled {
    pointer-events: none;
    opacity: 0.5;
    filter: grayscale(100%);
}

.is-w100 {
    width: 100% !important;
}

.flex-rhs {
    flex-direction: row-reverse;
} */
