---
import Footer from '#/components/footer.astro'
import HomeHomeHeader from '#/components/home/home-home-header.astro'
import Document from '#/layouts/document.astro'
---

<Document subtitle={Astro.props.title}>
    <solidbox-layout></solidbox-layout>
    <div class="continuum-top"></div>

    <section class="home-section scroll-into-view">
        <HomeHomeHeader />
    </section>

    <section id="section-entry" class="space-section-6x">
        <article>
            <h data-parallax-speed="1.15">
                <v class="wauto wmax6 centered">
                    <h1 class="home-h1">Entries</h1>
                </v>
            </h>
            <!-- <h class="space-section-x">
                <v class="wauto wmax6 centered" data-parallax-speed="0.95">
                    <slot />
                </v>
            </h> -->
        </article>
    </section>

    <Footer class="space-section-6x" />

    <div class="continuum-bot"></div>
</Document>

<style is:global>
    @import "#/styles/entry.css";
</style>
