---
import Entry from '#/layouts/entry.astro'
---

<Entry title="Salvé, salvé, salvé, Parve?">
    <p class="entry-text">
        {"Oh wheel of fortune, you have captured me again."}<br />
        {
            "My dear, will this vicious cycle ever release me from this rein of agony?"
        }<br />
        {"Will my gaze ever reach out to your reality?"}<br />
        {"Oh my dear, haven't your glamorous glance been a tremble for me?"}<br
        />
    </p>
    <br class="hard-break" />
    <br class="hard-break" />
    <br class="hard-break" />
    <p class="entry-text">
        {"Virtue and sole chaos that has enslaved my soul."}<br />
        {"Will fate ever liberate this fool infant?"}<br />
        {"You, who saves that are to be saved,"}<br />
        {"Will I ever be free in your dreams, or be left to perish?"}<br />
    </p>
    <br class="hard-break" />
    <br class="hard-break" />
    <br class="hard-break" />
    <p class="entry-text">
        {"Hereby, I bring my bare back to your mutiny."}<br />
        {"Please, be noble in your cruelty,"}<br />
        {"Because I forswear in my uncertainty."}<br />
        {"Will you bless me again with your voice?"}<br />
    </p>
    <br class="hard-break" />
    <br class="hard-break" />
    <br class="hard-break" />
    <p class="entry-text">
        {"Shadowed under your existence,"}<br />
        {"Will fate shed lights or tears on my persistance?"}<br />
        {"Oh my dear, my devoted spirit is so tender and precise,"}<br />
        {"Would you ever embrace this child into your paradise?"}<br />
    </p>
    <br class="hard-break" />
    <br class="hard-break" />
    <br class="hard-break" />
    <p class="entry-text">
        {"Bent to your sole will, he is,"}<br />
        {"Is there no one to help him, save him?"}<br />
        {"Young fool must have thought he was the one,"}<br />
        {"Was he?"}<br />
    </p>
    <br class="hard-break" />
    <br class="hard-break" />
    <br class="hard-break" />
    <p class="entry-text">
        {"Was he?"}<br />
        {"Was he the one to mistook his self-worth?"}<br />
        {"Or, was he the one to accompany afterbirth?"}<br />
        {"Would you curse or bestow him with the truth?"}<br />
    </p>
    <br class="hard-break" />
    <br class="hard-break" />
    <br class="hard-break" />
    <p class="entry-text">
        {"Only with you I have the joie de vivre,"}<br />
        {"Without you its all a blither,"}<br />
        {"What would you whisper to this perceiver?"}<br />
        {"Would these delicate eyes ever notice me?"}<br />
    </p>
    <br class="hard-break" />
    <br class="hard-break" />
    <br class="hard-break" />
    <p class="entry-text">
        {"I can hear you once again."}<br />
        {"Oh, will I ever listen to you again?"}<br />
        {"Shivering with your frequency,"}<br />
        {"Undulate towards you, I will."}<br />
    </p>
</Entry>
