---
import Entry from '#/layouts/entry.astro'
---

<Entry title="To be, or not to be">
    <p class="entry-text">
        {"To be, or not to be"}<br />
        {"That is the question,"}<br />
        {"Which bears many more;"}<br />
        {"Many cannot bear anymore."}<br />
    </p>
    <br class="hard-break" />
    <br class="hard-break" />
    <br class="hard-break" />
    <p class="entry-text">
        {"Holy Father aloft,"}<br />
        {"Am I yours to perish?"}<br />
        {"Or is it me I did ravish?"}<br />
        {"Will vengeance take what's his?"}<br />
    </p>
    <br class="hard-break" />
    <br class="hard-break" />
    <br class="hard-break" />
    <p class="entry-text">
        {"Was it envy or lust"}<br />
        {"That locked me out of Your paradise?"}<br />
        {"Aren’t those meant to build it twice?"}<br />
        {"Seemingly, You also have a price."}<br />
    </p>
</Entry>
