body {
    font-family: "Overused Grotesk", system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-display: swap;
    background-color: $color-body;
    color: $color-text;
    font-size: 0;

    width: 100%;
    user-drag: none;
    overflow: hidden;

    /* TODO: enable in prod */
    /* overflow-x: hidden; */
}

#app-wrapper {
    width: 100lvw;
    height: 100lvh;
    overflow: hidden;
}

*:focus {
    /* outline: none; */
    background-color: $color-text;
    color: $color-body;
    outline: 4px solid $color-text !important;
}
