html {
    font-size: 100%;
}

body {
    font-family: system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-display: swap;
    background-color: $color-body;
    color: $color-text;
    font-size: 0;

    width: 100%;
    user-drag: none;

    /* &.universal {
        font-family: "SGA", system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    } */

    /* TODO: enable in prod */
    /* overflow-x: hidden; */
}

img {
    pointer-events: none;
}

#app {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;

    &-wrapper {
        width: 100lvw;
        height: 100lvh;
        overflow: hidden;
    }
}

*:not(.no-focus):focus {
    /* outline: none; */
    background-color: $color-text;
    color: $color-body;
    outline: 4px solid $color-text !important;
}
