html {
    scroll-behavior: smooth;
    /* scrollbar-gutter: stable; */
    overscroll-behavior: contain;
    /* scrollbar-width: thin; my on chrome */
    scrollbar-color: $color-text transparent;
}

/* ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
} */
