body {
    overflow: hidden !important;
}

[data-parallax-speed] {
    will-change: transform;
}

[data-parallax-opacity] {
    will-change: transform, opacity;
}

html {
    /* rest is handled by lenis */
    scrollbar-color: $color-text transparent;
    scrollbar-width: none;

    /*
    scroll-behavior: smooth;
    overscroll-behavior: contain;
    scrollbar-color: $color-text transparent;
    */
}

::-webkit-scrollbar {
    display: none;
}
