---
import FancyCursorProvider from "#/components/optional/fancy-cursor-provider.astro";
import { APP, SEO_DEFAULTS } from "##/.boilerrc";
import SmoothBlur from "#/components/optional/smooth-blur.astro";
import Loader from "#/components/loader.astro";

interface Props {
    title?: string;
    subtitle?: string;
    description?: string;
    keywords?: string[];
}

// const { title, subtitle, description } = Astro.props
const title = Astro.props.title ?? SEO_DEFAULTS.title;
const subtitle = Astro.props.subtitle;
const description = Astro.props.description ?? SEO_DEFAULTS.description;

const document_title = (subtitle ? `${subtitle} | ` : "") + title;
---

<!doctype html>
<html lang="en">
    <!--! https://github.com/howion/howion.com-v2 -->
    <head>
        <meta charset="UTF-8" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
        />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <link
            rel="preload"
            href="/assets/fonts/overused-grotesk/variable.woff2"
            as="font"
            type="font/woff2"
            crossorigin="anonymous"
        />
        <title>{document_title}</title>
        {description && <meta name="description" content={description} />}
    </head>
    <body style="background-color:#000;">
        <Loader />
        <post-effect class="noise"></post-effect>

        {!APP.quickDevelopmentMode && <FancyCursorProvider />}
        <div id="app-wrapper">
            <!-- {
                !APP.quickDevelopmentMode && (
                    <SmoothBlur position="top" direction="top" />
                )
            } -->

            <div id="app">
                <slot />
            </div>

            {
                !APP.quickDevelopmentMode && (
                    <SmoothBlur position="bottom" direction="bottom" />
                )
            }
        </div>
    </body>
</html>

<style is:global>
    @import "/src/styles/global.css";
</style>

<script>
    import "#/scripts/global.ts";
</script>
